*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #5c5c5c
}

h1 {
  color: #242424;
}

.body {
  font-family: 'Roboto', sans-serif;
}

img {
  padding: 1rem;
}

.card-header, .card-footer {
  font-weight: bold;
  font-size: 1.5rem;
}

#txtSearchCity {
  width: 70%;
  outline: 0;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 15px;
}

#search-button {
  cursor: pointer;
  width: 25%;
  border: 1px solid #000;
  border-left: 0;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #000;
  padding: 10px;
  margin-bottom: 3px;
}

.container {
  width: 90%;
  height: 90%;
  border: solid 1px #fff;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  background-image: url("../assets/img/background3.jpg");
  background-size: cover;
}

#col-card {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.card {
  opacity: 60%;
}